{
    "profile_1": {
        "url": "https://sample.site.com",
        "user": "username1",
        "password": "somesecret1"
    },
    "profile_2": {
        "url": "https://sample.site.com",
        "user": "username2",
        "password": "somesecret2"
    }
}
